OnlineCinemaManagement/CinemaClient/Connected Services/CinemaServiceReference/CinemaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfShowtimeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShowtimeDto" nillable="true" type="tns:ShowtimeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShowtimeDto" nillable="true" type="tns:ArrayOfShowtimeDto" />
  <xs:complexType name="ShowtimeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="HallID" type="xs:int" />
      <xs:element minOccurs="0" name="HallName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MovieID" type="xs:int" />
      <xs:element minOccurs="0" name="MovieTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Showtime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ShowtimeID" type="xs:int" />
      <xs:element minOccurs="0" name="TicketPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShowtimeDto" nillable="true" type="tns:ShowtimeDto" />
</xs:schema>