OnlineCinemaManagement/CinemaClient/Connected Services/CinemaServiceReference/CinemaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64919/CinemaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataEntity" />
  <xs:element name="GetAllShowtimes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllShowtimesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataEntity" minOccurs="0" name="GetAllShowtimesResult" nillable="true" type="q1:ArrayOfShowtimeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowtimeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShowtimeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataEntity" minOccurs="0" name="GetShowtimeByIdResult" nillable="true" type="q2:ShowtimeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShowtime">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataEntity" minOccurs="0" name="showtimeDto" nillable="true" type="q3:ShowtimeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShowtimeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShowtime">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataEntity" minOccurs="0" name="showtimeDto" nillable="true" type="q4:ShowtimeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShowtimeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShowtime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShowtimeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>